/Google/
/Microsoft/
/Microsoft Teams - Preview/
/chromium/
/GIMP/
/teams/
/configstore/
/Signal/
/dconf/
/autostart/
/gtk-2.0/
/gtk-3.0/
/procps/
/pulse/
/systemd/
/tuxedo-control-center/
/turborepo/
/mimeapps.list
/spaceship.zsh.zwc
/go/
/kitty/kitty.conf.bak
/lazygit/state.yml
/shuttle/
/blender/
/Thunar/
/darktable/
/inkscape/
/xfce4/
